/* Page layout */

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgb(29, 34, 45);
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#body {
  display: flex;
  flex-direction: col;
  flex: 1;
}
#options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 26px;
  padding-bottom: 3px;
  border-bottom: solid 1px #ddd;
}
#options input {
  vertical-align: bottom;
}
#showjs, #compile {
  margin-left: 10px;
}
#auto_compile {
  margin-left: 10px;
}

#view_mode {
  background-color: #fff;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 23px;
}
#view_mode label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#view_mode li {
  background-color: #fff;
  display: inline-block;
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
  border: 0px;
}
#view_mode input[type="radio"] {
  display:none; 
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

#view_mode input[type="radio"]:checked + label {
  background-color: #eee;
}
#view_mode input[type=checked]:checked + label {
  background-color: #eee;
  border: solid 1px #ddd;
  border-bottom: 0px;
}

#editor_view {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;

}

#column1, #column2 {
  position: relative;
  flex: 1;
}

#column2 {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.separator {
  flex-basis: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(250, 250, 250);
}

/* Typography */

h1, h2, h3 {
  line-height: 110%;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 8px;
}

h2, h3 {
  margin: 40px 0 10px 0;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

.info {
  margin-top: -6px;
  font-size: 12px;
  font-variant: small-caps;
}

blockquote {
  font-style: italic;
  display: block;
  padding: 10px 40px;
  margin: 0;
}

pre {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 10px;
}

pre code {
  background: none;
  border: 0;
  margin: 0;
}

iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: monospace;
  color: darkgray;
  margin: 15px;
  font-size: 15px;
}
#code {
  overflow: visible;
}
