/* Page layout */

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgb(29, 34, 45);
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#column1, #column2 {
  position: relative;
  flex: 1;
}

#column2 {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.separator {
  flex-basis: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(250, 250, 250);
}

/* Typography */

h1, h2, h3 {
  line-height: 110%;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 8px;
}

h2, h3 {
  margin: 40px 0 10px 0;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

.info {
  margin-top: -6px;
  font-size: 12px;
  font-variant: small-caps;
}

blockquote {
  font-style: italic;
  display: block;
  padding: 10px 40px;
  margin: 0;
}

pre {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 10px;
}

pre code {
  background: none;
  border: 0;
  margin: 0;
}

iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: monospace;
  color: darkgray;
  margin: 15px;
  font-size: 15px;
}
