@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{
  font-family: 'Roboto', sans-serif;
  color: #404040;
  margin: 0;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

#console {
  font-family: monospace;
  padding: 15px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
}

#console div:empty::after {
    content: ".";
    visibility: hidden;
}
