@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body
{
  font-family: 'Roboto', sans-serif;
  color: #404040;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  color: #1d222d;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

pre {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 10px;
}
