@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{
  font-family: 'Roboto', sans-serif;
  color: #404040;
  margin: 10px;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

#console {
  font-family: monospace;
  color: black;
  padding: 10px;
  background-color: #d0d0d0;
  white-space: pre;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(29, 34, 45);
}
