
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 2vw;
  color: #000;
  line-height: 1.5em;
}

pre {
  font-size: 1.5vw !important;
  line-height: 1.2em;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 1.5em
}

img {
  max-width: 100%;
}

.flexbox {
  margin: 5px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
}


.slide {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.marwid {
  display: inline-block;
  margin: auto;
}

.rowflex {
  display: flex;
  flex-flow: row wrap;
}

.colflex {
  display: flex;
  flex-flow: column wrap;
}

.block {
  display: block;
}

.padapp {
  padding: 0.2vw;
}

.counter {
  margin: 10px;
  font-size: initial;
}

.center {
  display: flex;
  margin: auto;
  justify-content: center;
}


.boldEl {
  font-weight: bold !important;
}
.italicEl {
  font-style: italic !important;
}
