/* Page layout */

body
{
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  color: #404040;
  margin: 0;
  color: rgb(29, 34, 45);
  overflow-y: scroll;
}

.wrapper {
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ddd;
  background-color: rgb(29, 34, 45);
  padding: 25px 40px;
  color: white;
}

.body {
  padding: 40px;
}

.footer {
  margin: 40px 0 20px 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
}

/* Typography */

h1, h2, h3 {
  line-height: 110%;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2, h3 {
  margin: 40px 0 10px 0;
}

a, a:visited, a:active, a:hover {
  color: #c4953a;
}

.info {
  margin-top: -6px;
  font-size: 12px;
  font-variant: small-caps;
}

blockquote {
  font-style: italic;
  display: block;
  padding: 10px 40px;
  margin: 0;
}

pre {
  overflow: auto;
}

pre, code {
  font: 14px Consolas, "Liberation Mono", Courier, monospace;
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 2px 4px;
}

pre code {
  background: none;
  border: 0;
  padding: 0;
}

button {
  background: white;
  color: #c4953a;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  border-top: 1px solid #c4953a;
  padding: 8px 0px 6px 22px;
  text-align: right;
}

button:hover {
  opacity: 0.7;
}

button:focus {
  outline: 0;
}

iframe {
  width: 100%;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 10px #F6F6F6;
}
