body { font-family: 'Lato', sans-serif; color: #404040; margin: 0; }
.mono { font-family: 'Ubuntu Mono', monospace; white-space: pre; word-break: break-all; word-wrap: break-word; }
.header { margin: 0; background: #202028; box-shadow: 0 0 10px #808080; color: #E0E0E0; }
.splitter { margin: 0; height: 5px; background: #606068; }
.center { margin: 0 auto; padding: 20px; }
a { color: #808080; }
button { background: #d0d0d0; color: #606060; padding-top: 3px; padding-bottom: 3px; font-weight: bold;  border-radius: 1px; border: 1px solid #c0c0c0; box-shadow: 1px 1px 0 0 #ffffff inset; padding-left: 15px; padding-right: 15px; cursor: pointer; }
button:hover { background: #e0e0e0; }
#code, #js { margin: 10px; }
