/* Page layout */

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgb(29, 34, 45);
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#menu {
  background-color: #1d222d;
  color: white;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

  #menu input {
    vertical-align: middle;
    margin-bottom: 5px;
    cursor: pointer;
  }

#home_link {
  padding: 0px 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

  #home_link > img {
    vertical-align: middle;
  }

.menu-item {
  list-style: none;
  display: inline-block;
  border-left: 1px solid #454648;
  min-width: 90px;
}

  .menu-item a {
    color: white;
    text-decoration: none;
  }

  .menu-item > label, .menu-item > a > label {
    text-align: center;
    line-height: 40px;
    padding: 0px 10px;
    display: block;
  }

  .menu-item label {
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: black;
  }

  .menu-item input[type="checkbox"] {
    display: none;
  }

    .menu-item input[type="checkbox"]:checked + label {
      background-color: #8490a9;
    }

    .menu-item input[type="checkbox"]:not(:checked) + label {
      text-decoration: line-through;
      color: #ababab;
    }

.menu-dropdown {
  position: relative;
}

  .menu-dropdown > label {
    display: block;
  }

  .menu-dropdown > label:after {
    content: ' ▾';
  }

  .menu-dropdown > ul {
    position:absolute;
    top: 40px;
    left: 0px;
    min-width: 100%;
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #1d222d;
    list-style: none;
    z-index: 100000;
  }

  .menu-dropdown > ul > li {
    margin: 0;
    padding: 0;
  }

  .menu-dropdown:hover > ul {
  	display: inherit;
  }

  .menu-dropdown li label {
    display: block;
    padding: 10px 8px;
    margin: 0;
  }

  .menu-dropdown label:hover {
    background-color: black;
  }

  .menu-dropdown input[type="radio"] {
    display:none;
  }

    .menu-dropdown input[type="radio"]:checked + label {
      color: #c4953a;
    }

  .menu-dropdown a {
    display: block;
    color: white;
  }

    .menu-dropdown a:visited {
      color: white;
    }

#editor_view {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 0px;
  position: relative;
}

  #editor_view[data-view-mode="output"] #column1 {
    display: none;
  }

  #editor_view[data-view-mode="code"] #column2_wrapper {
    display: none;
  }

#column1, #column2_wrapper {
  position: relative;
  flex: 1;
}

#column2_wrapper {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 13px;
}

.separator {
  flex-basis: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(250, 250, 250);
}

.error {
  position: absolute;
  z-index: 20;
  border-bottom: 2px dotted red;
}

.warning {
  position: absolute;
  z-index: 20;
  border-bottom: 2px dotted #c4953a;
}

.ace_gutter-tooltip {
  white-space: pre-wrap;
}

.error-banner {
  font-family: 'Roboto Slab', serif;
  padding: 10px 20px;
}

pre {
  padding: 20px;
  font-family: 'Monaco', monospace;
}

pre code {
  background: none;
  border: 0;
  margin: 0;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white url(../img/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.85;
  z-index: 10000;
}

#code {
  overflow: visible;
}

.mobile-banner {
    background: #dabf8b;
    padding: 5px;
    border-bottom: 1px solid #1d222d;
    font-size: 14px;
    margin-bottom: 10px;
}


footer {
  background-color: #1d222d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

  footer .footer-separator {
    color: white;
  }

  footer .footer-link {
    display: flex;
    min-width: 300px;
    gap: 2px;
    color: white;
  }

    footer .footer-link a {
      color: white;
    }

      footer .footer-link a:visited {
        color: white;
      }

@media all and (max-width: 720px) {
  .no-mobile {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

    footer .footer-link {
      min-width: initial;
    }
}

@media all and (min-width: 720px) {
  .mobile-only {
    display: none;
  }
}
